<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="vue_app">
    <p>Allowed Cookie</p>
    <button :disabled="cookieAllowed==`allowed`" @click='setCookie(true)'>Allow</button>
    <button :disabled="cookieAllowed==  `banned` " @click='setCookie(false)'>Ban</button>
    <div v-for='(elem,elm_index) in menu' :key="elm_index">
         <ul v-for="(val,prop,index) in elem" :key="index">
            <h2>{{prop.toUpperCase()}}</h2>
            <button v-if="!order[elm_index]" @click="show(elm_index)">Show</button>
          <div v-else>
            <li v-for="(val,prop,index) in val" :key="index">
                <span>{{prop}}:</span>{{val}}
            </li>
            <button @click="hide(elm_index)">Hide</button>
        </div>
         </ul>
    </div>
    <button @click="all(true)" :disable='allShow' >Show All</button>
    <button @click="all(false)" :disabled='allHide'>Hide All</button>
    </div>
    <script>

        let app=Vue.createApp({
        data(){
            return{
                cookieAllowed:'Unknown',
                menu:[],
                order:[],
                default_item:0,
            }
          
        },
        computed:{
           allShow(){
            if(this.order.includes(false))return false;
            return true;
           },
           allHide(){
            if(this.order.includes(true))return false;
            return true;
           }
        },

        created(){
  let json=[
  {uk:{nation:'UK',capital:'London',favourite:'Pound Sterling'}},
  {city:{city:'NewsCastele Upon Type',street:'Percy Street'}},
  {car:{brand:'Toyota',model:'Land Cruiser',engine:'Petrol'}}


  ]

this.menu=json
  


            let cookie=this.processCookie();
            if(cookie.exists){
                if(cookie.allowed=='allowed'){
                    this.cookieAllowed='allowed'
                    if(cookie.order){
                          this.init(cookie.order)
                        this.init();
                    }
                }else{
                    this.cookieAllowed='banned'
                    this.default_item=this.menu.length-1
                    this.init()
                }
            }else{
                this.cookieAllowed='Unknown'
                this.init()
            } 
        },

        methods:{
        all(dir){
             for(let i =0;i<this.order.length;i++){
                this.order[i]=dir;
             }
        },

            show(elm_index){
              for(let i =0;i<this.order.length;i++){
                this.order[i]=false;
              }
              this.order[elm_index]=true;
            }
            ,
            hide(elm_index){
                   this.order[elm_index]=false;
            },
        init(cookie_order){
        if(cookie_order){
             this.order=[]
             cookie_order.split(',').map((elem)=>{
                this.order.push(JSON.parse(elem))
             })
        }else{
            for(let i =0;i<this.menu.length;i++){
                this.order.push(false)
             }
             this.order[this.default_item]=true;
        }
        },
            setCookie(dir){
                if(dir){
                    document.cookie='allowed=allowed'
                    this.cookieAllowed='allowed'
                }else{
                    document.cookie='allowed=banned'
                    this.cookieAllowed='banned'
                }
            },
            processCookie(){
                if(document.cookie){
                    let obj={exists:true}
                    document.cookie.split(';').map((elem)=>{
                        let arr=elem.split('=')
                        let prop=arr[0].trim();
                        let val=arr[1].trim();
                        if(isNaN(val)){
                            if(val=='true'){
                                val=true
                            }else if(val=='false'){
                                    val=false;
                            }
                        }else{
                            val=Number(val)
                        }
                        obj[prop]=val;
                    })

                    return obj;
                }else{
                    return {exists:false}
                }
            }
        }
        })
        let vm=app.mount('#vue_app');
    </script>
</body>
</html>